<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login Sistema - Entrada</title>
    <link href="/css/geral.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-watermarkinput.js"></script>
    <script type="text/javascript" src="/js/jquery-corners.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.js"></script>
    <script type="text/javascript" src="/js/jquery-chamadas.js"></script>
</head>
<body>
	<div id="geral">
		
		<!-- Topo -->
		<div id="topo">
			<div id="topoInfo1">O que deseja fazer?</div>
			<ul id="menus">
				<li><a href="cadastro.html">Cadastro</a></li>
				<li><a href="consulta.html">Consulta</a></li>
			</ul>
			<div id="topoInfo2">Bom dia Ivan, seja bem vindo!</div>
		</div>

		<!-- Info Tela -->
		<div id="infoTela">Cadastro de Usuário</div>
		
		<form id="formCadastro">
			<ul class="campos">
				<li class="field">Paróquia</li>
				<li>
					<select>
						<option>Selecione a Paróquia</option>
						<option>Catedral Nossa Senhora de Lourdes</option>
						<option>Cristo Profeta</option>
					</select>
				</li>
			</ul>
			<ul class="campos">
				<li class="field">Nome</li>
				<li><input name="nome"/></li>
				<li class="field">Rg</li>
				<li><input name="rg"/></li>
				<li class="field">Cpf</li>
				<li><input name="cpf" mask="999.999.999-99"/></li>
			</ul>
			<ul class="campos">
				<li class="field">Telefone</li>
				<li><input name="telefone" mask="(99) 9999-9999"/></li>
				<li class="field">Nascimento</li>
				<li><input name="datanasc" mask="99/99/9999"/></li>
				<li class="field">Endereço</li>
				<li><input name="endereco"/></li>
			</ul>
			<ul class="campos">
				<li class="field">Nome mãe</li>
				<li><input name="mae"/></li>
				<li class="field">Nome pai</li>
				<li><input name="pai"/></li>
			</ul>
			<a class="botao">Cadastrar</a>
		</form>
	</div>
</body>
</html>