<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login Sistema - Entrada</title>
    <link href="/css/geral.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-watermarkinput.js"></script>
    <script type="text/javascript" src="/js/jquery-corners.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.js"></script>
    <script type="text/javascript" src="/js/jquery-chamadas.js"></script>
</head>
<body>
	<div id="geral">
		
		<!-- Topo -->
		<div id="topo">
			<div id="topoInfo1">O que deseja fazer?</div>
			<ul id="menus">
				<li><a href="cadastro.html">Cadastro</a></li>
				<li><a href="consulta.html">Consulta</a></li>
			</ul>
			<div id="topoInfo2">Bom dia Ivan, seja bem vindo!</div>
		</div>

		<!-- Info Tela -->
		<div id="infoTela">Controle de Entrega</div>
		
		<div id="infoControle">Entregas já efetuadas ao usuário: <span>Ivan Nicoli</span></div>
		
		<a class="botao">Entregar</a>
		
		<div class="clearBoth"></div>
		
		<div id="painelControle">
			<table class="grid">
				<tr class="titulo">
					<td class="first">
						Entregas Já Efetuadas
					</td>
				</tr>
				<tr>
					<td class="first">
						10/04/2010
					</td>
				</tr>
				<tr>
					<td class="first">
						10/03/2010
					</td>
				</tr>
				<tr>
					<td class="first">
						10/02/2010
					</td>
				</tr>
				<tr>
					<td class="first">
						10/01/2010
					</td>
				</tr>
			</table>
		</div>

</body>
</html>